<<<<<<< HEAD
<form style="padding-top: 20px " method="post" action="{{ path('app_consultations_delete', {'id': consultation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
=======
<form style="padding-top: 20px " method="post" action="{{ path('app_consultation_delete', {'id': consultation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
>>>>>>> 7c535b1bed9f0b42015bf80bdc2d087f96aa8d3f
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ consultation.id) }}">
	<button class="btn btn-outline-dark btn-fw">Delete</button>
</form>
