{% extends 'base.html.twig' %}

{% block title %}Edit Livraison{% endblock %}

{% block body %}
    <h1>Edit Livraison</h1>

    {{ include('Back/livraison/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_livraison_index') }}">back to list</a>

    {{ include('Back/livraison/_delete_form.html.twig') }}
{% endblock %}
